<div class="hero-container">
  <h1>
    {{title}}
  </h1>
  <ul class="heroes">
    <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
  </ul>
  <br>
  <div *ngIf="selectedHero">
    <h2>{{selectedHero.name}} details!</h2>
    <label>id: </label> <strong>{{selectedHero.id}}</strong>
    <label for="hero-input">Name: </label>
    <input type="text" id="hero-input" [(ngModel)]="selectedHero.name" placeholder="name" >
  </div>
</div>
